    .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .btn {
  background: #34b8d9;
  background-image: -webkit-linear-gradient(top, #34b8d9, #104d73);
  background-image: -moz-linear-gradient(top, #34b8d9, #104d73);
  background-image: -ms-linear-gradient(top, #34b8d9, #104d73);
  background-image: -o-linear-gradient(top, #34b8d9, #104d73);
  background-image: linear-gradient(to bottom, #34b8d9, #104d73);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 36px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  text-decoration: none;
}
    .dice {
        text-align: center;
        display: inline-block;
    
    }
    
    body {
        background-color: #393E46;
    }
    
    h1 {
        margin: 30px;
        font-family: 'Lobster', cursive;
        text-shadow: 5px 0 #0f1925;
        font-size: 8rem;
        color: #87cc4e;
    }
    
    p {
        font-size: 2rem;
        color:#87cc4e;
        font-family: 'Indie Flower', cursive;
    }
    
    img {
        width: 80%;
    }
    
    footer {
        margin-top: 5%;
        color: #EEEEEE;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    
    }
    
